.resource-avatar {
  width: 3rem;
  height: 3rem;
  background-color: $resource-avatar-background-color;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
}
