.secondary-navigation-list-item {
  a {
    display: block;
    padding: 0.5rem 1.5rem;
    line-height: 1;
    font-size: $secondary-font-size;
    border-radius: $border-radius;
    background-color: $secondary-navigation-list-item-background-color;
    color: $secondary-navigation-list-item-color;
    transition: all ease-in 300ms;
    text-transform: capitalize;
    text-decoration: none;
  }
  a:hover,
  a[aria-current='page'],
  a.pending,
  a.active {
    background-color: $secondary-navigation-list-item-background-color-active;
    color: $secondary-navigation-list-item-color-active;
  }
  a[aria-current='page']:hover {
    cursor: default;
  }
}
