@import './_variables';

@mixin flex($gap: $gap) {
  display: flex;
  gap: $gap;
}

@mixin list {
  list-style: none;
  flex-direction: column;
  justify-content: flex-start;
  @include flex(0.25rem);
}
