/***
* Colors
***/
$black: #000000; // text
$off-black: #1a1a1a;

$grey: #242424;
$mid-grey: #767676; // checkbox-border
$light-grey: #525a69; //secondary-text
$smoke-grey: #e5e7eb; // borders
$offish-grey: #f3f4f6; // active background
$off-white: #f9fafb; // sidebar-background
$white: #ffffff; // background

$blue: #3950ed;

$purple-haze: #7c39ed; // logo background, checkbox,
$aubergine: #6c00ec; // active-nav text
$purple: #e0dafd; // nav-border
$light-purple: #edeafe; // nav background

$red: #e25253; // error text
$light-red: #fee2e2; // error background

$logo-background: $purple-haze;
$logo-color: $off-white;

$outline: $blue;

$paragraph: $light-grey;

$resource-avatar-background-color: $smoke-grey;

$resource-list-item-background-color: $light-purple;
$resource-list-item-border-color: $purple;
$resource-list-item-color: $black;

$role-list-item-background-color: $white;
$role-list-item-background-color-complete: $offish-grey;
$role-list-item-color: $light-grey;
$role-list-item-color-complete: $aubergine;

$secondary-navigation-list-item-background-color-active: $light-purple;
$secondary-navigation-list-item-background-color: $offish-grey;
$secondary-navigation-list-item-color: $black;
$secondary-navigation-list-item-color-active: $aubergine;

$sidebar-background: $off-white;

/***
* Spacing and widths
***/
$gap: 1rem;
$measure: 60ch;
$role-list-item-width: 31.25rem;

/***
* Border radii
***/
$border-radius: 0.25em;

/***
* Font sizes
***/
$secondary-font-size: 0.875rem;
$small-font-size: 0.75rem;
