// colors
$black: #000000; // text
$off-black: #1a1a1a;

$grey: #242424;
$mid-grey: #767676; // checkbox-border
$light-grey: #4c5564; //secondary-text
$lightest-grey: #e5e7eb; // borders
$offish-grey: #f3f4f6; // active background
$off-white: #f9fafb; // sidebar-background
$white: #ffffff; // background

$darkest-purple: #7c39ed; // logo background, checkbox,
$dark-purple: #6c00ec; // active-nav text
$purple: #e0dafd; // nav-border
$light-purple: #edeafe; // nav background

$red: #e25253; // error text
$light-red: #fee2e2; // error background
