@import './_variables';
@import './_mixins';

@import 'components/_index.scss';

* {
  margin: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

input,
button {
  font: inherit;
}

#root {
  isolation: isolate;
}

ul {
  padding-inline-start: 0;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

#main {
  padding: 1.5rem 1rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-block-end: 1rem;
}

p {
  color: $paragraph;
  max-width: $measure;
}
